<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="IdServicio" matInput />
            <br>
            <input formControlName="HoraInicio" matInput />
            <br>
            <input formControlName="HoraFin" matInput />
            <br>
            
            <ngx-mat-timepicker formControlName="date2"></ngx-mat-timepicker>

            <div>
                <button mat-flat-button class="buttonEjecutar" color="primary">
                    Generar Turnos
                </button>
            </div>

            <table
            #table
            mat-table
            [dataSource]="registros"
            class="mat-elevation-z8 tabla-indice">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Fecha Turno</th>
                    <th mat-cell *matCellDef="let element">{{element.fechaTurno | date}}</th>
                </ng-container>
                <ng-container matColumnDef="HoraInicio">
                    <th mat-header-cell *matHeaderCellDef>Hora de Inicio</th>
                    <th mat-cell *matCellDef="let element">{{element.horaInicio.hours + ':' +  element.horaInicio.minutes}}</th>
                </ng-container>
                <ng-container matColumnDef="HoraFin">
                    <th mat-header-cell *matHeaderCellDef>Hora Final</th>
                    <th mat-cell *matCellDef="let element">{{element.horaFin.hours  + ':' +  element.horaInicio.minutes}}</th>
                </ng-container>
                <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <th mat-cell *matCellDef="let element">{{element.estado? 'Activo':'Cerrado'}}</th>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnasMostrar"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasMostrar"></tr>
            </table>

    </mat-form-field>

</form>