<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>Mensaje personalizado para contenido <b>Vacio</b></div>
  </ng-container>
  <ng-container contenedor>
    <div class="peliculas-contenedor">
      <div
        *ngFor="let pelicula of peliculas; let index = index"
        class="pelicula-contenedor"
      >
        <a [routerLink]="'/peliculas/' + pelicula.id">
          <img [src]="pelicula.poster" alt="Poster" />
        </a>
        <p [routerLinks]="'/peliculas/editar/' + pelicula.id">{{ pelicula.titulo }}</p>
        <app-autorizado [rol]="'admin'">
          <ng-container noAutorizado>
            <div>
              <a mat-flat-button color="primary" [routerLink]="'/peliculas/editar/' + pelicula.id">
                Editar
              </a>
              <button 
                mat-flat-button 
                color="warn"
                [swal]="{title: 'Confirmación',
                text: 'Esta seguro que desea eliminar el registro?',
                showCancelButton: 'true'}"
                (confirm)="borrar(element.id)"
                type="button">Borrar</button>
            </div>
          </ng-container>
          <ng-container noAutorizado>
            No estas autorizado
          </ng-container>
        </app-autorizado>
       
      </div>
    </div>
  </ng-container>
</app-listado-generico>
