<h2>Buscar peliculas</h2>
<mat-spinner *ngIf="!peliculas"></mat-spinner>
<form [formGroup]="form" *ngIf="peliculas">
    <mat-form-field appareance="outline">
        <mat-label>Titulo</mat-label>
        <input formControlName="titulo" matInput/>
    </mat-form-field>

    <mat-form-field appareance="outline">
        <mat-label>Genero</mat-label>
        <mat-select formControlName="generoId">
            <mat-option *ngFor="let genero of generos" [value]="genero.id">{{genero.nombre}}</mat-option>
            <mat-option value="2">Prueba</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName="proximosEstrenos">Próximos estrenos</mat-checkbox>
    </div>

    <div>
        <mat-checkbox formControlName="enCines">En cines</mat-checkbox>
    </div>

    <div class="contenedor-limpiar">
        <button mat-flat-button (click)="limpiar()" color="warn">Limpiar</button>
    </div>
</form>

<app-listado-peliculas [peliculas]="peliculas"></app-listado-peliculas>

<mat-paginator
[length]="cantidadElementos"
[pageSize]="cantidadElementosMostrar"
[pageSizeOptions]="[5,10,20,50]"
(page)="paginatorUpdate($event)"></mat-paginator>