<app-mostrar-errores
[errores]="errores"></app-mostrar-errores>

<form [formGroup]="form" (submit)="onSubmit()" >
    <mat-form-field appareance="outline">
        <mat-label>
            <input formControlName="nombre" matInput/>
            <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
        </mat-label>
    </mat-form-field>

    <h4>Seleccione el cine en el mapa</h4>
    <div style="position: relative;">
        <app-mapa
        (coordenadaSeleccionada)="coordenadaSeleccionada($event)"
        [coordenadasIniciales]="coordenadaInicial"></app-mapa>
    </div>

    <div style="margin-top: 650px;">
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>
        <a mat-stroked-button routerLink="/cines">
            Cancelar
        </a>
    </div>
</form>